.dashboard {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: #0f172a;
}

.dashboard_kpi-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.dashboard_stat-card {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: start !important;
  flex-direction: column !important;
  color: #fff;
  position: relative;
}

.dashboard_stat-card small {
  color: #94a3b8;
  font-size: 10px;
  text-transform: uppercase;
}

.dashboard_stat-card h2 {
  font-size: 24px;
  margin-top: 4px;
}

.dashboard_stat-card .icon {
  position: absolute;
  color: #fbbf24;
  font-size: 32px;
  top: 34px;
  right: 16px;
  pointer-events: none;
}

.dashboard_charts-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.dashboard_chart-card {
  background: #1e293b;
  border: 1px solid #334155;
  border-radius: 12px;
  padding: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.dashboard_chart-card h3 {
  font-size: 16px;
  font-weight: 600;
}

.dash_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dashboard_legend {
  display: flex;
  align-items: center;
  gap: 32px;
  font-size: 12px;
  color: #94a3b8;
}

.dashboard_legend span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dashboard_legend .dashboard_active div {
  background: #10b981;
}

.dashboard_legend .dashboard_new div {
  background: #3b82f6;
}

.dashboard_legend div {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.dashboard_chart-container {
  width: 100%;
  height: 250px;
  position: relative;
}

.dashboard_pie-center {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  color: #fff;
  text-align: center;
}

.dashboard_pie-center small {
  color: #94a3b8;
  font-size: 10px;
}

.dashboard_pie-legend {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 12px;
}

.dashboard_pie-legend_titile {
  display: flex;
  align-items: center;
  gap: 7px;
}

.dashboard_pie-legend div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard_pie-legend span:first-child {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 4px;
}
